<div id="footer2">
  <div class="narrow-content">
    <div class="row">
      <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
        <p class="lead">
          {{ site.author.name }} &copy; 2025 All Rights Reserved
        </p>
      </div>
      <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
        <h2 class="text-center">{{ site.author.name }}</h2>
      </div>
      <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
        <ul class="social-network">
          <li>
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"
              ><i class="ti-linkedin font-14px black-icon"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/{{ site.author.facebook }}"
              ><i class="ti-facebook font-14px black-icon"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/{{ site.author.instagram }}"
              ><i class="ti-instagram font-14px black-icon"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
