<div class="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <span class="heading-meta style-1">Abilities</span>
        <h2 class="heading animate-box" data-animate-effect="fadeInLeft">
          Skills
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft">
        <p>
          Quisque eu est facilisis, ullamcorper nibh ac, laoreet urna. Duis et
          tristique odio, non volutpat sem. Vivamus a sodales elit. Praesent id
          consequat quam, eget vulputate nunc. Quisque condimentum iaculis.
        </p>
        <p>
          Donec egestas nunc vitae augue condimentum, quis ultrices nisi
          interdum. Aliquam suscipit ante id tincidunt feugiat. Sed ornare leo
          id dolor viverra bibendum. Aenean turpis risus, posuere in tortor vel.
        </p>
      </div>
      <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
        <p class="bar-title">
          e-Commerce<span class="percent align-right">70%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-developer start"></div>
        </div>
        <p class="bar-title">
          SEO and SEM<span class="percent align-right">80%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-photoshop start"></div>
        </div>
        <p class="bar-title">
          Blogging and WordPress<span class="percent align-right">80%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-photoshop start"></div>
        </div>
        <p class="bar-title">
          E-mail Marketing<span class="percent align-right">65%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-socialmedia start"></div>
        </div>
        <p class="bar-title">
          Press Media<span class="percent align-right">80%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-photoshop start"></div>
        </div>
      </div>
    </div>
  </div>
</div>
