<div class="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <span class="heading-meta style-1">Abilities</span>
        <h2 class="heading animate-box" data-animate-effect="fadeInLeft">
          Skills
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft">
        <p>
          <strong
            >CREATIVE or ANALYTICAL?<br />- Am I a right-brain marketer or a
            left-brain marketer?</strong
          >
        </p>
        <p>
          In 2012, when I started my communication and marketing journey being
          strong on one side of the brain was enough! (At least I thought it
          was).
        </p>
        <p>
          Today, we know that communicators and marketers need to have
          <strong
            >cross-disciplinary expertise that balances creative with analytical
            thinking</strong
          >. That's the reason why I am <strong>always learning</strong>, and
          <strong
            >pushing myself to the limit by learning different themes</strong
          >.
        </p>
        <p>
          I like to think of myself as a <strong>creative mind</strong> who sees
          emotions as the key-word to impact people, but
          <strong
            >who gets really excited and committed to accomplishing
            results</strong
          >
          and <strong>numbers</strong>.
        </p>
        <p>
          Here are some of my skills and platforms that I´m used to handling.
          However, don´t worry if I don´t know one in particular, because
          besides all these skills the best of all is my
          <strong
            >ability and motivation to learn something new and really
            exciting</strong
          >!
        </p>
      </div>
      <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
        <p class="bar-title">
          E-Commerce<span class="percent align-right">70%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-developer start"></div>
        </div>
        <p class="bar-title">
          SEO and SEM<span class="percent align-right">80%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-photoshop start"></div>
        </div>
        <p class="bar-title">
          Blogging and WordPress<span class="percent align-right">80%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-photoshop start"></div>
        </div>
        <p class="bar-title">
          E-mail Marketing<span class="percent align-right">65%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-socialmedia start"></div>
        </div>
        <p class="bar-title">
          Press Media<span class="percent align-right">80%</span>
        </p>
        <div class="bar">
          <div class="bar-fill bar-fill-photoshop start"></div>
        </div>
      </div>
    </div>
  </div>
</div>
